interactions:
- request:
    body: ''
    headers:
      X-API-TOKEN:
      - REDACTED
    method: GET
    uri: https://api.informatika.si/mojelektro/v1/meter-readings?usagePoint=100000000000000000&startTime=2026-05-30&endTime=2026-06-06&option=ReadingType%3D32.0.2.4.1.2.12.0.0.0.0.0.0.0.0.3.72.0
  response:
    body:
      string: '{"intervalBlocks":[{"intervalReadings":[{"readingQualities":[],"timestamp":"2026-05-30T00:15:00+02:00","value":"0.0370"},{"readingQualities":[],"timestamp":"2026-05-30T00:30:00+02:00","value":"0.0470"},{"readingQualities":[],"timestamp":"2026-05-30T00:45:00+02:00","value":"0.0520"},{"readingQualities":[],"timestamp":"2026-05-30T01:00:00+02:00","value":"0.0560"},{"readingQualities":[],"timestamp":"2026-05-30T01:15:00+02:00","value":"0.0560"},{"readingQualities":[],"timestamp":"2026-05-30T01:30:00+02:00","value":"0.0330"},{"readingQualities":[],"timestamp":"2026-05-30T01:45:00+02:00","value":"0.0270"},{"re[...]
